@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
</style>

* { /* esse simbolo é usado para aplicar um estilo em todos os elementos da pagina, aqui estamos resetando a pagina para que não tenhamos interferencias de estilos que já vem com os navegadores */
  margin: 0;
  padding: 0;
}

body {
  height: 100vh; /*essa é um tipo de tag padrão, se utiliza para que a box size do body pegue sempre 100% da view port, ou seja, da tela */
  box-sizing: border-box; /* Aqui também é uma tag padrão, aqui estamos garantindo que o conteudo do box esteja sempre dentro da box, digamos que o filho sempre dentro do pai */
  background-color: #AF1B3F; /* aqui é onde estilizando o background */
  color: #EFC69B; /* aqui é onde estilizamos as fontes, ao colocar formatos de cores difeerentes, é precico colocar #*/
}

.apresentacao {
  margin: 10% 15%;
  display: flex; /* Aqui estamos falando pra classe apresentacao que os filhos dentro dele devem ser "flex" isso quer dizer: ficar ao lado do outro. mas isso é alterável, se vai ficar linha ou de outra forma*/ 
  align-items: center;
  justify-content: space-between; /*o justify content justamente justifica a distancia entre os elementos, nessa configuração ele usa o tamanho de toda a tela*/
}

.titulo-destaque { /* para selecionar uma classe no css e dar um estilo para ela, é necessário usar o "." */
  color: #473144;
}

.apresentacao__conteudo { /*o flex é sempre colocado dentro da tag conteiner do elemento*/
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 20px; /*A propriedade gap não é exclusiva do Flexbox, porém é utilizada quase sempre em conjunto com ele. Ela especifica no CSS o tamanho dos espaços entre linhas e colunas em layouts de grid, flex e multi-column. Sua sintaxe é bem simples e ela aceita um ou dois valores.*/
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
  font-style: normal;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
  display: flex;
  justify-content: space-between;
}

.apresentacao__links__link { /*aqui estamos editando o botão, deixando ele mais bonito, nota-se que essa classe foi colocado bem dentro do atributo "a" do html */
  background-color: #CCB69B;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  padding: 20px 0;
  text-decoration: none; /*aqui estamos tirando a decoração que vem padrão do html nos links*/
  color: #AF1B3F;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}